#formular {
  border: grey solid 1px;
  width: 20%;
  padding: 1rem;
  margin: 0px 0px 10px 0px;
  margin: auto;
}

form {
  text-align: center;
}
.minDiv {
  border: solid 0.5px;
  color: black;
  width: 15%;
  background-color: black;
}
#rubrik {
  color: darkblue;
  font-size: 20px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}
